# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
.cxx/

# Local config
local.properties
*.jks
*.keystore

# Outputs
*.apk
*.aab

# Others
captures/
.DS_Store
