<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões e features ficam diretamente sob <manifest> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGP1Resgate">

        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- OBRIGATÓRIO pois há intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
